demoji==1.1.0
filesplit==4.1.0
gensim==4.3.3
joblib==1.5.1
nltk==3.9.1
numpy<2.3.2, >= 1.7.0
pandas==2.3.2
pyspellchecker==0.8.3
scikit_learn==1.7.1
SQLAlchemy==2.0.43
#torch==2.8.0+cu129
tqdm==4.67.1
transformers==4.55.3
